
  
.about-page {

    // animation: fadeIn 0.5s 1.5s backwards;

    .text-zone {
      position: absolute;
      display: block;
      overflow: hidden;
      left: 10%;
      top: 55%;
      transform: translateY(-50%);
      
      width: 40%;
      max-height: 90%;
      color: white;
      line-height: 80px;
      margin: 0;
      font-family: "SquareGrotesk-MediumItalic";
      font-style: italic;
      font-weight: 400;
      animation: fadeIn 1s 1.5s backwards;
      margin-left: 10px;
    
      p{
        display: inline-block;
        line-height: 40px;
        font-weight: 300;
        font-size: 20px;
      }
      .highLight{
        color: #FF9900;
      }


    }
    .right-side{
      opacity: 1;
      // animation: fadeIn 1s 1.5s forwards;
    }


    .glitch {
      display: block;
      color: #FF9900;
      position: relative;
      font-size: 80px;
      
      // min-width: 7vw;
      // margin: 70px 200px;
      animation: glitch 5s 5s infinite;
    }
    
    .glitch::before {
      content: attr(data-text);
      position: absolute;
      left: -2px;
      text-shadow: -5px 0 magenta;
      background: black;
      overflow: hidden;
      top: 0;
      animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
    }
    
    .glitch::after {
      content: attr(data-text);
      position: absolute;
      left: 2px;
      text-shadow: -5px 0 lightgreen;
      background: black;
      overflow: hidden;
      top: 0;
      animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
    }
    
    @keyframes glitch {
      1%{
        transform: rotateX(10deg) skewX(90deg);
      }
      2%{
        transform: rotateX(0deg) skewX(0deg);
      }
    }
    
    @keyframes noise-1 {
      $steps: 30;
      @for $i from 1 through $steps {
        #{percentage($i*(1/$steps))} {
          $top: random(100);
          $bottom: random(101 - $top);
          clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
      }
    }
    
    @keyframes noise-2 {
      $steps: 30;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          $top: random(100);
          $bottom: random(101 - $top);
          clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
      }
    }

    
    .glow {
      @extend .glitch;
      text-shadow: 0 0 1000px rgb(223, 191, 191);
      color: transparent;
      position: absolute;
      top: 0;
    }
    .subtitle {
      text-decoration: overline;
      margin-top: -60px;
      display: block;
      width: 70%;
      font-family: Arial, Helvetica, sans-serif;
      // border: 2px solid red;
      font-size: 1vw;
      color: white;
      text-transform: uppercase;
      // letter-spacing: 0.5em;
      // text-align: center;
      position: relative;
      // left: 17%;
      // border: 2px solid red;
      animation: glitch-2 5s 5s infinite;
    }
    
    @keyframes glitch-2 {
      1%{
        transform: rotateX(10deg) skewX(70deg);
      }
      2%{
        transform: rotateX(0deg) skewX(0deg);
      }
    }


}



